---
import ConstructorCard from "../components/ConstructorCard.astro";
import Layout from "../layouts/Layout.astro";
import type { ConstructorName } from "@/types";
import { Image } from "astro:assets";
import type { Status } from "@/components/StatusBadge.astro";
import StatusBadge from "@/components/StatusBadge.astro";
import { carImages } from "@/utils";

interface SeasonInfo {
  car?: ConstructorName;
  game: string;
  key: string;
  raceCount: number;
  status: Status;
  subtitle: string;
  title: string;
  winners?: string[];
}

const seasonCars: { [key: string]: string[] } = {
  s1: ["ginetta"],
  s2: ["renault", "mercedes", "bmw"],
  s3: ["bmw"],
  s4: [
    "alpine",
    "astonmartin",
    "bmw",
    "chevrolet",
    "ginetta",
    "mclaren",
    "mercedes",
    "porsche",
  ],
  s5: [
    "astonmartin",
    "audi",
    "bmw",
    "ferrari",
    "lamborghini",
    "mclaren",
    "mercedes",
    "nissan",
    "porsche",
  ],
};

const seasonInfo: SeasonInfo[] = [
  {
    key: "s1",
    title: "Season 1",
    subtitle: "Ginetta Juniors",
    game: "Project Cars 2",
    raceCount: 6,
    winners: ["Graeme", "Cannon Man Dan", "InkubusJaymz"],
    car: "ginetta",
    status: "complete",
  },
  {
    key: "s2",
    title: "Season 2",
    subtitle: "Touring Cars",
    game: "Project Cars 2",
    raceCount: 12,
    winners: ["Cannon Man Dan", "Atlas", "Kruthal"],
    car: "bmw",
    status: "complete",
  },
  {
    key: "s3",
    title: "Season 3",
    subtitle: "TCX",
    game: "ACC",
    raceCount: 10,
    winners: ["N. Bird", "Cousin Bob", "Big Time Bosco"],
    car: "bmw",
    status: "complete",
  },
  {
    key: "s4",
    title: "Season 4",
    subtitle: "GT4",
    game: "ACC",
    raceCount: 15,
    winners: ["Big Time Bosco", "N. Bird", "Michael Smith"],
    car: "alpine",
    status: "complete",
  },
  {
    key: "s5",
    title: "Season 5",
    subtitle: "GT3",
    game: "ACC",
    raceCount: 18,
    status: "upcoming",
  },
];
---

<Layout
  title="Inky 500 | Seasons"
  description={`View the results and standings for all Inky 500 seasons ðŸ†`}
>
  <main>
    <h1>Seasons</h1>
    <div class="grid sm:grid-cols-2 gap-3">
      {
        seasonInfo.map((season) => (
          <ConstructorCard
            title={season.title}
            subtitle={`${season.subtitle} - ${season.raceCount} races`}
            link={`/${season.key}`}
            car={season.car}
          >
            <div class="flex items-center gap-2 flex-wrap -mt-4 mb-4">
              {seasonCars[season.key].map((car: string) => (
                <Image
                  src={carImages[car as ConstructorName]}
                  alt={car}
                  class="w-6 h-6"
                  loading="eager"
                />
              ))}
            </div>

            <div class="flex flex-col gap-2">
              {season.winners ? (
                <>
                  <p>ðŸ¥‡ {season.winners[0]}</p>
                  <p>ðŸ¥ˆ {season.winners[1]}</p>
                  <p>ðŸ¥‰ {season.winners[2]}</p>
                </>
              ) : null}
            </div>
            <StatusBadge status={season.status} />
          </ConstructorCard>
        ))
      }
    </div>
  </main>
</Layout>
