---
import ConstructorCard from "../components/ConstructorCard.astro";
import Layout from "../layouts/Layout.astro";
import type { ConstructorName, RacerName, SeasonName } from "@/types";
import { Image } from "astro:assets";
import type { Status } from "@/components/StatusBadge.astro";
import StatusBadge from "@/components/StatusBadge.astro";
import { carImages } from "@/utils";
import { drivers, seasonRacers, standings } from "@/data";

interface SeasonInfo {
  car?: ConstructorName;
  game: string;
  key: string;
  raceCount: number;
  status: Status;
  subtitle: string;
  title: string;
  winners?: string[];
}

const seasonCars = (season: SeasonName) =>
  Array.from(
    new Set(
      Object.values(seasonRacers[season]).flatMap((racer) => [
        racer.car,
        ...(racer.otherTeams
          ? Object.values(racer.otherTeams).map((team) => team.car)
          : []),
      ])
    )
  ).toSorted();

const getSeasonWinners = (season: SeasonName) => {
  return Object.keys(
    Object.values(standings[season])[Object.keys(standings[season]).length - 1]
  )
    .slice(0, 3)
    .map((racer) => drivers[racer as RacerName].name);
};

export const seasonInfo: SeasonInfo[] = [
  {
    key: "s1",
    title: "Season 1",
    subtitle: "Ginetta Juniors",
    game: "Project Cars 2",
    raceCount: 6,
    car: "ginetta",
    status: "complete",
  },
  {
    key: "s2",
    title: "Season 2",
    subtitle: "Touring Cars",
    game: "Project Cars 2",
    raceCount: 12,
    car: "bmw",
    status: "complete",
  },
  {
    key: "s3",
    title: "Season 3",
    subtitle: "TCX",
    game: "ACC",
    raceCount: 10,
    car: "bmw",
    status: "complete",
  },
  {
    key: "s4",
    title: "Season 4",
    subtitle: "GT4",
    game: "ACC",
    raceCount: 15,
    car: "alpine",
    status: "complete",
  },
  {
    key: "s5",
    title: "Season 5",
    subtitle: "GT3",
    game: "ACC",
    raceCount: 18,
    car: "unknown",
    status: "in-progress",
  },
];
---

<Layout
  title="Inky 500 | Seasons"
  description={`View the results and standings for all Inky 500 seasons ðŸ†`}
>
  <main>
    <h1>Seasons</h1>
    <div class="grid sm:grid-cols-2 gap-3">
      {
        seasonInfo.map((season) => (
          <ConstructorCard
            title={season.title}
            subtitle={`${season.subtitle} - ${season.raceCount} races`}
            link={`/${season.key}`}
            car={season.car}
          >
            <div class="flex items-center gap-2 flex-wrap -mt-4 mb-4">
              {seasonCars(season.key as SeasonName).map((car: string) => (
                <Image
                  src={carImages[car as ConstructorName]}
                  alt={car}
                  class="w-6 h-6"
                  loading="eager"
                />
              ))}
            </div>

            <div class="flex flex-col gap-2 mb-4">
              {season.status === "complete"
                ? getSeasonWinners(season.key as SeasonName).map(
                    (winner, index) => (
                      <p>
                        {index === 0 ? "ðŸ¥‡" : index === 1 ? "ðŸ¥ˆ" : "ðŸ¥‰"}{" "}
                        {winner}
                      </p>
                    )
                  )
                : null}
            </div>
            <StatusBadge status={season.status} />
          </ConstructorCard>
        ))
      }
    </div>
  </main>
</Layout>
