---
import { Image } from "astro:assets";
import type { ConstructorName } from "@/types";
import { constructors } from "@/data";
import { carImages, withBase } from "@/utils";
import * as Card from "./ui/card";
import { Badge } from "./ui/badge";
import { cn } from "@/lib/utils";
type Props = {
  link?: string;
  car?: ConstructorName;
  title: string;
  subtitle: string | [string, string];
  index?: number;
};

const { link, car, title, subtitle, index } = Astro.props;

const carTeamColor = car ? constructors[car]?.teamColor : "transparent";
---

<a
  href={withBase(link ?? "#")}
  class={link ? "cursor-pointer" : "cursor-not-allowed"}
>
  <Card.Root
    class={cn(
      link ? "hover:bg-zinc-100 dark:hover:bg-zinc-800 transition-colors" : "",
      "relative h-full"
    )}
  >
    <div
      class="absolute rounded-lg w-full h-full opacity-50"
      style={{
        background: `linear-gradient(to right, transparent, ${carTeamColor})`,
      }}
    >
    </div>
    <div class="absolute top-3 right-3 opacity-50 z-0">
      {
        car && (
          <Image
            src={carImages[car]}
            alt={car}
            class="w-16 h-16"
            loading="eager"
          />
        )
      }
    </div>
    <div class="relative z-10 h-full">
      <Card.Header>
        <Card.Title class="flex items-center gap-2">
          {
            index ? (
              <Badge class="rounded-lg pointer-events-none">{index}</Badge>
            ) : null
          }
          {title}</Card.Title
        >
        <Card.Description
          >{
            Array.isArray(subtitle) ? (
              <div>
                <Badge
                  class="rounded-lg pointer-events-none"
                  variant="secondary"
                >
                  <span class={`mr-1 rounded-sm fi fi-${subtitle[1]}`} />
                  {subtitle[0]}
                </Badge>
              </div>
            ) : (
              subtitle
            )
          }</Card.Description
        >
      </Card.Header>
      <Card.Content>
        <slot />
      </Card.Content>
    </div>
  </Card.Root>
</a>
