---
import { Image } from "astro:assets";
import { drivers, results, seasonRacers } from "@/data";
import {
  type RacerName,
  type ConstructorName,
  type SeasonName,
  type TrackName,
} from "@/types";
import { carImages } from "@/utils";
import DeltaMarker from "./DeltaMarker.astro";
import TableCard from "./TableCard.astro";
import type { StandingResult } from "@/data/standings";
import TableCell from "./ui/table/TableCell.astro";
import TableRow from "./ui/table/TableRow.astro";
import Badge from "./ui/Badge.astro";

type Props = {
  data: Record<string, StandingResult>;
  title: string;
  season: SeasonName;
  track: TrackName;
  className: string;
};

const { data, title, season, track, className } = Astro.props;
---

<TableCard title={title} className={className}>
  {
    Object.entries(data).map((result, index) => {
      const seasonDriver = seasonRacers[season][result[0] as RacerName];
      const driver = drivers[result[0] as RacerName];

      if (driver && seasonDriver) {
        const currentTeam = seasonDriver.otherTeams?.[track] ?? seasonDriver;

        return (
          <TableRow>
            <TableCell>
              <div class="flex items-center">
                <Badge className="w-8 justify-center mr-2 pointer-events-none">
                  {index + 1}
                </Badge>
                <DeltaMarker delta={result[1].delta} />
              </div>
            </TableCell>
            <TableCell>{driver.name}</TableCell>
            <TableCell>
              <div class="flex items-center gap-2">
                <Image
                  src={carImages[currentTeam.car as ConstructorName]}
                  alt={currentTeam.car}
                  class="w-6 h-6"
                />
                <span>{currentTeam.team}</span>
              </div>
            </TableCell>
            <TableCell className="font-bold text-right">
              <span class="font-bold">{result[1].points}</span>{" "}
              {Object.keys(results).indexOf(track) >=
                Object.keys(results).length - 3 && result[1].netPoints ? (
                <span class="font-light text-xs">({result[1].netPoints})</span>
              ) : null}
            </TableCell>
          </TableRow>
        );
      }
    })
  }
</TableCard>
