---
import { Image } from "astro:assets";
import gghqLogo from "../assets/gghq.png";
import inkyLogo from "../assets/logo.png";
import { ViewTransitions } from "astro:transitions";
import "@/styles/globals.css";
import "/node_modules/flag-icons/css/flag-icons.min.css";
import { withBase } from "@/utils";
import NavLink from "@/components/NavLink.astro";
import ThemeIcon from "@/components/ThemeIcon.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<script is:inline>
  function setDarkMode(document) {
    const getThemePreference = () => {
      if (
        typeof localStorage !== "undefined" &&
        localStorage.getItem("theme")
      ) {
        return localStorage.getItem("theme");
      }
      return window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "theme-light";
    };
    const isDark = getThemePreference() === "dark";
    document.documentElement.classList[isDark ? "add" : "remove"]("dark");

    if (typeof localStorage !== "undefined") {
      const observer = new MutationObserver(() => {
        const isDark = document.documentElement.classList.contains("dark");
        localStorage.setItem("theme", isDark ? "dark" : "theme-light");
      });
      observer.observe(document.documentElement, {
        attributes: true,
        attributeFilter: ["class"],
      });
    }
  }

  setDarkMode(document);

  document.addEventListener("astro:before-swap", (ev) => {
    // Pass the incoming document to set the theme on it
    setDarkMode(ev.newDocument);
  });
</script>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={withBase("/favicon.ico")} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-white dark:bg-zinc-900">
    <div class="flex items-center justify-between px-3 py-2">
      <div class="flex gap-3">
        <a href={withBase()} class="flex items-center">
          <Image
            src={inkyLogo}
            alt="Inky 500"
            class="h-8 w-20 dark:invert transition"
            loading="eager"
          />
        </a>
        <NavLink href={withBase()} class="mr-3">Seasons</NavLink>
        <NavLink href={withBase("/drivers")} class="mr-3">Drivers</NavLink>
      </div>
      <div class="flex gap-3">
        <a
          href="https://gghq.io"
          target="_blank"
          rel="noreferrer"
          class="flex items-center"
        >
          <Image src={gghqLogo} alt="GGHQ" class="w-10 h-10" loading="eager" />
        </a>
        <ThemeIcon />
      </div>
    </div>
    <div class="container mx-auto mb-16 p-3 overflow-hidden">
      <slot />
    </div>
  </body>
</html>
